<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    2017 © Stanislas Wiart | All rights reserved | Typeface: Avara
  </div>
</div>
<!-- <div class="foot">
	<p class="about">
	  <%= link_to "Github", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Instagram", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Linkedin", "#" %>
	</p>
</div> -->