<div class="footer">
  <div class="footer-links">
    <a href="#" class="hvr-float-shadow">Github</i></a>
    <a href="#" class="hvr-float-shadow">Instagram</i></a>
    <a href="#" class="hvr-float-shadow">Facebook</i></a>
    <a href="#" class="hvr-float-shadow">Linkedin</i></a>
  </div>
  <div class="footer-copyright">
    2017 © Stanislas Wiart | All rights reserved | Typeface: Nuckle | Made with ERB
  </div>
</div>
<!-- <div class="foot">
	<p class="about">
	  <%= link_to "Github", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Instagram", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Linkedin", "#" %>
	</p>
</div> -->