<div class="footer">
  <div class="footer-links">
    <a href="#">Github</i></a>
    <a href="#">Instagram</i></a>
    <a href="#">Facebook</i></a>
    <a href="#">Linkedin</i></a>
  </div>
  <div class="footer-copyright">
    2017 © Stanislas Wiart | All rights reserved | Typeface: Nuckle
  </div>
</div>
<!-- <div class="foot">
	<p class="about">
	  <%= link_to "Github", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Instagram", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Linkedin", "#" %>
	</p>
</div> -->