<div class="foot">
	<p class="about">
	  <%= link_to "Github", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Instagram", "#" %>
	</p>
	<p class="about">
	  <%= link_to "Linkedin", "#" %>
	</p>
</div>