// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "animate";
@import "hovereffects";

body {
	position: relative;
	height: 100vh;
	overflow-x: hidden; 
	overflow-y: scroll;
}