// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "animate";
@import "hovereffects";
@import "about";

body {
	position: relative;
	min-height: 100%;
	// overflow-x: hidden; 
	// overflow-y: scroll;
	background-color: white !important;
}
a {
  text-decoration: none !important;
}
a:hover {
	cursor: pointer;
	filter: brightness(0.9);
	color: rgba(0,0,0,0.7);
	transition: all 0.5s ease;
}
.pg-title {
	margin-top: 10% !important;
}