/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-title a {
  text-decoration: none !important;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}
h2 {
  font-size: 1.5vw;
  color: black !important;
}