.navbar-ok {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none !important;
  }
  a:hover {
    color: rgba(0,0,0,0.7);
  }
}
h2 {
  font-size: 1.5vw;
  color: black !important;
}