#home {
  color: black;
  height: 70vh;
  margin: auto;
  p {
    margin-top: 1.5em;
  }
  a {
    color: black;
    opacity: 75%;
    font-size: 0.7em;
  }
}
h1 {
  font-family: "NSB", "NB";
  font-size: 5.7em;
  line-height: 1em;
  margin-left: 2vw;
  width: 100%;
}
@keyframes blink {  
  50% { opacity: 0; }
}
span .text-rotate {
  animation: blink 1s linear infinite;
}
.container {
  height: 50vh;
  width: 100%;
  margin: 0;
  position: absolute;
  margin-top: 30px;
  padding-left: 30px !important;
}
.card img {
  filter: drop-shadow(0.15em 0.15em 0.25em rgba(0,0,0,0.25)); 
}
.works-title {
  position: absolute;
  text-align: left;
  width: 40%;
}
img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
}
.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}