#home {
  color: black;
  height: 70vh;

  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}
h1 {
  font-family: "AG-Regular", sans-serif;
  font-size: 9vw;
  margin-left: 2vw;
}
@keyframes blink {  
  50% { opacity: 0; }
}
span .text-rotate {
  animation: blink 1s linear infinite;
}