<!-- <div class="obj">
	<iframe id="vs_iframe" src="http://www.viewstl.com/?embedded&rotation=no&clean=yes&noborder=yes&orientation=bottom&bgcolor=white&color=gray&url=https://github.com/Stan83W/final-landing/raw/master/source/images/Augustus.stl" style="border:0;margin:0;width:100%;"></iframe>
</div> -->


<script src="http://threejs.org/build/three.min.js"></script>

<script src="http://threejs.org/examples/js/loaders/STLLoader.js"></script>

<script>
	// Set up the scene, camera, and renderer as global variables.
	var scene, camera, renderer;

	init();
	animate();

	// Sets up the scene.
	function init() {
	  // Create the scene and set the scene size.
	  scene = new THREE.Scene();
	  var WIDTH = 400,
	      HEIGHT = 300;

	  // Create a renderer and add it to the DOM.
	  renderer = new THREE.WebGLRenderer({antialias:true});
	  renderer.setSize(WIDTH, HEIGHT);
	  document.body.appendChild(renderer.domElement);
	  renderer.domElement.id = "context"

	  // Create a camera, zoom it out from the model a bit, and add it to the scene.
	  camera = new THREE.PerspectiveCamera(45, WIDTH / HEIGHT, 0.1, 20000);
	  camera.position.set(0,6,0);
	  scene.add(camera);

	  // Create a light, set its position, and add it to the scene.
	  var light = new THREE.PointLight(0xffffff);
	  light.position.set(-100,200,100);
	  scene.add(light);

	  // Add a white PointLight to the scene.
	  var loader = new THREE.JSONLoader();
	  loader.load( '../images/Augustus.stl', function(geometry){
	    var material = new THREE.MeshLambertMaterial({color: 0x55B663});
	    mesh = new THREE.Mesh( geometry, material);
	    scene.add(mesh);
	  });

	  // Add OrbitControls so that we can pan around with the mouse.
	  controls = new THREE.OrbitControls(camera, renderer.domElement);
	}

	// Renders the scene and updates the render as needed.
	function animate() {
	  requestAnimationFrame( animate );
	  renderer.render( scene, camera );
	  controls.update();
	}
	  
</script>
<!-- <script>
var camera, scene, renderer;
var geometry, material, mesh;

init();
animate();

function init() {

	camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.01, 10 );
	camera.position.z = 1;

	scene = new THREE.Scene();

	geometry = new THREE.BoxGeometry( 0.2, 0.2, 0.2 );
	material = new THREE.MeshNormalMaterial();

	mesh = new THREE.Mesh( geometry, material );
	scene.add( mesh );

	// renderer = new THREE.WebGLRenderer( { antialias: true } );
	renderer = new THREE.WebGLRenderer( { alpha: true } );
	renderer.setClearColor( 0x000000, 0 );
	renderer.setSize( window.innerWidth, window.innerHeight );
	document.body.appendChild( renderer.domElement );

}

function animate() {

	requestAnimationFrame( animate );

	mesh.rotation.x += 0.01;
	mesh.rotation.y += 0.02;

	renderer.render( scene, camera );

}


var loader = new THREE.STLLoader();
 
loader.load('../images/hand.stl', function (geometry) {
  var material = new THREE.MeshNormalMaterial()
  var mesh = new THREE.Mesh(geometry, material)
  scene.add(mesh)
})

</script> -->

<div class="infos">
	<div class="desc">
	  <h3>Art Director working in agencies and freelance with 7 years of experience across design, luxury and corporate communication.</h3>
	  <h2>Living and working in Paris, feel free to contact me</h2>
	  <h2><a href="mailto:stanislas.wiart@gmail.com" class="">stanislas.wiart@gmail.com</a></h2>
	</div>
</div>