<div class="desc pg-title">
  <h2>Bike it Easy | 2017</h2>
  <h3>UI/UX Design | Branding</h3>
  <h2>Find a bike in Paris in less than 5mn</h2>
</div>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-9.jpg" alt="">
</div>
<h2 class="sub">Splash screen, homepage and product page mockup</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-16.jpg" alt="">
</div>
<h2 class="sub">Bold and simple typographic logo</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-21.jpg" alt="">
</div>
<h2 class="sub">Fresh colours associated to geometric fonts</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-14.jpg" alt="">
</div>
<h2 class="sub">Homepage and product page mockup</h2>
<div class="desc pg-title more">
  <h2>More projects</h2>
  <h3><a href="/digdog.html">Digdog</a> | <a href="/domestic-landscape.html">Domestic Landscape</a> | <a href="/brain2brain.html">Brain2brain</a> | <a href="/spirienza.html">Spirienza</a> | <a href="/kenzo.html">Kenzo</a></h3>
</div>
