<div class="desc pg-title">
  <h2>Brain2brain | 2017</h2>
  <h3>Front-end Development | UI Design | Branding</h3>
  <h2>Book a freelance developer according to his skills and location</h2>
</div>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-4.jpg" alt="">
</div>
<h2 class="sub">Fully responsive design</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-20.jpg" alt="">
</div>
<h2 class="sub">Homepage with banner and cards</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-11.jpg" alt="">
</div>
<h2 class="sub">Bold identity based on black and white</h2>
<div class="desc pg-title more">
  <h2>More projects</h2>
  <h3><a href="/digdog.html">Digdog</a> | <a href="/bike-it-easy.html">Bike It Easy</a> | <a href="/domestic-landscape.html">Domestic Landscape</a> | <a href="/spirienza.html">Spirienza</a></h3>
</div>