<div class="desc pg-title">
  <h2>Digdog | 2017</h2>
  <h3>Front-end Development | UI Design | Branding</h3>
  <h2>Track down rare records 24/7</h2>
  <h2>Credits: Tristan Bagot, Sophia Wushanley, Clément Picard-Zivy</h2>
</div>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-7.jpg" alt="">
</div>
<h2 class="desc">Homepage with responsive design</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-10.jpg" alt="">
</div>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-15.jpg" alt="">
</div>