<div class="desc pg-title">
  <h2>Domestic Landscape | 2017</h2>
  <h3>Digital Design | UI Design | Branding</h3>
  <h2>Post-war italian design online gallery</h2>
</div>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-3.jpg" alt="">
</div>
<h2 class="sub">Homepage with products grid</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-13.jpg" alt="">
</div>
<h2 class="sub">Product page</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-12.jpg" alt="">
</div>
<h2 class="sub">Mobile version</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-22.jpg" alt="">
</div>
<h2 class="sub">Print identity variant</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-23.jpg" alt="">
</div>
<h2 class="sub">Branding stationery</h2>
<div class="desc pg-title more">
  <h2>More projects</h2>
  <h3><a href="/digdog.html">Digdog</a> | <a href="/bike-it-easy.html">Bike It Easy</a> | <a href="/brain2brain.html">Brain2brain</a> | <a href="/spirienza.html">Spirienza</a></h3>
</div>