---
title: Stanislas Wiart | Branding & Digital Design
---


<div class="new-nav">
  <h2 class="new-nav-item"><a href="">stanislas wiart</a></h2>
  <h2 class="new-nav-item"><a href="">work</a></h2>
  <h2 class="new-nav-item"><a href="">infos</a></h2>
  <h2 class="new-nav-item"><a href="">contact</a></h2>

</div>
