---
title: Stanislas Wiart | Branding & Digital Design
---


<div class="new-nav">
  <h2 class="new-nav-item">stanislas wiart</h2>
  <h2 class="new-nav-item">work</h2>
  <h2 class="new-nav-item">infos</h2>
  <h2 class="new-nav-item">contact</h2>

</div>
