---
title: Design & Front-End
---

<div id="home">
  <div class="home-content">
	<h1>Graphic Design<br> & <span
	   class="txt-rotate"
	   data-period="2000"
	   data-rotate='[ "Front-End", "Web Development", "UI/UX" ]'></span>

    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
