---
title: Stanislas Wiart | Art Direction & Digital Design
---

<div id="home">
  <div class="home-content">
	<h1>Art Direction<br> & <span
	   class="txt-rotate"
	   data-period="2000"
	   data-rotate='[ "Branding", "Digital Design", "Web Development", "UI/UX Design", "*/|}{~?><=&%$#@!" ]'></span>
  </div>
  <div class="container">
	  <h2 class="works-title">Latest Works</h2>
    <div class="row flexbox">
      <div class="card">
  			<img src="../images/display.png" alt="" style="height: 20vh;">
      </div>
      <div class="card">
      <img src="../images/display.png" alt="" style="height: 20vh;">
      </div>
      <div class="card">
      <img src="../images/display.png" alt="" style="height: 20vh;">
      </div>
    </div>
  </div>

