<div class="desc pg-title">
  <h2>Kenzo | 2013</h2>
  <h3>Art Direction | Editorial | Graphic Design</h3>
  <h2>Corporate magazine</h2>
</div>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-26.jpg" alt="">
</div>
<h2 class="sub">Cover & brand history</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-25.jpg" alt="">
</div>
<h2 class="sub">A modern grid based layout</h2>
<div class="" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="600">
  <img src="../images/display-landing-v2-24.jpg" alt="">
</div>
<h2 class="sub">Intentional whitespaces to emphasize on photography</h2>

<div class="desc pg-title more">
  <h2>More projects</h2>
  <h3><a href="/digdog.html">Digdog</a> | <a href="/bike-it-easy.html">Bike It Easy</a> | <a href="/brain2brain.html">Brain2brain</a> | <a href="/domestic-landscape.html">Domestic Landscape</a> | <a href="/spirienza.html">Spirienza</a></h3>
</div>